@page
@using Microsoft.AspNetCore.Authorization
@using LibraryLocationQuerySystem.Areas.Identity.Models
@inject UserManager<StudentUser> UserManager
@model LibraryLocationQuerySystem.Pages.Books.IndexModel

@{
    ViewData["Title"] = "Index";
}
@attribute [Authorize(Roles = "reader")]
<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<p>
    @Html.DisplayFor(model => model.pm.ResNum)个结果，@Html.DisplayFor(model => model.pm.StartIndex)~@Html.DisplayFor(model => model.pm.EndIndex)
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].BookName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].PublishingHouse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].PublicDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].Type)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Book) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublishingHouse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublicDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                    <a asp-page="./Details" asp-route-SortCallNumber="@item.SortCallNumber" asp-route-FormCallNumber="@item.FormCallNumber">Details</a>
                    @if (@User.IsInRole("admin"))
                    {
                        <a asp-page="./Edit" asp-route-SortCallNumber="@item.SortCallNumber" asp-route-FormCallNumber="@item.FormCallNumber">Edit</a>
                        <a asp-page="./Delete" asp-route-SortCallNumber="@item.SortCallNumber" asp-route-FormCallNumber="@item.FormCallNumber">Delete</a>
                    }
            </td>
        </tr>
    }
    </tbody>
</table>
<div>
    @if (@Model.pm.PreviousPage != @Model.pm.CurrentPage)
    {
        <a asp-page="./Index" asp-route-pageNum="@Model.pm.PreviousPage">上一页</a>
    }
    <form style="margin:0px; display:inline" class="form-inline" method="get">
            页码：<input type="number" asp-for="pageNum" />
            <input type="submit" value="跳转" />
    </form>
    @if (@Model.pm.PreviousPage != @Model.pm.CurrentPage)
    {
        <a asp-page="./Index" asp-route-pageNum="@Model.pm.NextPage">下一页</a>
    }
</div>

